name: Manual Trigger

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      pull_request_number:
        description: 'Pull Request Number'
        required: false

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x
      - name: Upgrade pip
        run: ls
      - name: run python
        run: |
            python trigger_pipeline.py
            
        
